<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="ButtonDemo" android:label="@string/btnDemo"/>

        <activity android:name="LabelDemo" android:label="@string/textviewDemo"/>

        <activity android:name="OptionsDemo" android:label="@string/optionDemo"/>
        <activity android:name="LinearLayoutDemo" android:label="@string/linearLayoutDemo"/>
        <activity android:name="TableLayoutDemo" android:label="@string/tableLayoutDemo"/>
        <activity android:name="RelativeLayoutDemo" android:label="@string/relLayoutDemo"/>
        <activity android:name="FrameLayoutDemo" android:label="@string/frameLayoutDemo"/>
    </application>
</manifest>
